.container {
  margin: 10px;
}

.physician-details {
  height: 300px;
  border: 1px solid grey;
}

.physician-table {
  height: 300px;
  border: 1px solid grey;
}

/* styles */

.container {
  margin: 10px;
}

input {
  border: 1px solid black;
  border-radius: 0px;
}

.flex-row-reverse {
  margin-left: 90px;
}

.btn-update,
.btn-reset {
  height: 35px;
  width: 80px;
}
.btn-update {
  background-color: orange;
}

.btn-reset {
  background-color: lightgray;
}

table {
  border: 2px solid rgb(151, 188, 91);
}

table tr th {
  background-color: rgb(151, 188, 91);
}

table tr:nth-child(even) td {
  background-color: rgb(175, 194, 143);
}

.list {
  height: 36px;
  width: 208px;
}
